body {
  font-family: 'Open Sans', sans-serif; 
  color: #828282;

  text-align: center;
  margin: 0;
}

#main {
  width: 629px;
  margin: 0 auto;
}

#main img {
  margin-bottom: 29px;
}

h1 {
  font-family: 'Dosis', sans-serif;
  color: #3F3D56;  
  font-size: 32px;
  line-height: auto;
  font-weight: normal;
  margin-bottom: 19px;
  }

  h1 span {
    font-weight: bold;
  }



span {
  color: #EE24FF;
}

span2, a {
  color: #3F3D56;
}

p, #footer {
  font-size: 15px;
  line-height: 22px;
}


#footer a + a {

  margin-left: 42px;
}
 
.line {
  width: 391px;
  height: 0px;
  
  border: 1px solid #ECEFF2;
}

#favicon {
  position: fixed;
  bottom: 500px;
  left: 90px;

}

#Wave {
  color: #CDCDCD;
}